html, body {
    margin: 0;
    padding: 5;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
  }
     
/* map.css */

#map {
    width: 100%;
    height: 600px;        /* or 80vh if you want it responsive to the viewport */
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 4em;    /* some spacing before the legend */
  }


  #map {
    position: relative; /* Ensure the map container is a positioned element */
  }
  
  #map svg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;  
  }


  #map svg circle {
    pointer-events: auto;
    /* Define your base colors */
    --color-departures: steelblue;
    --color-arrivals: darkorange;
    /* Mix the colors based on the departure ratio */
    --color: color-mix(
      in oklch,
      var(--color-departures) calc(100% * var(--departure-ratio)),
      var(--color-arrivals)
    );
    fill: var(--color);
  }
  



  